<html>
<head>
	<title>Shivam's Blog</title>
</head>
<body>
          <div> 
          	 <h1>Hi There!</h1>
          </div>

          <div>
          	<p><i>
          		Hello Visitor. My name is Shivam. I am an engineering student currently studying in Institute of Engineering and Techonology(IET),Lucknow pursuing my B.Tech Degree for Computer Science and Engineering. This blog is just a testing blog. In the near future I will deploy a more well planned blog. Right now I have given link to a blog which my friend writes, about his personal veiws, his life experiences etc. Do visit it. Its a good blog.

          		P.S.- There are some posts in Time Travel. Obviously I did not write them they are just something I wanted my post.Read them if you want or just ignore them. ;) 
          	   </i>
          	</p>
          </div>

          <div>
          	<h3><a href="https://lifestyle-tech-experience.blogspot.com/2019/02/the-most-controversial-topic.html?m=1">The Controversial Topic.....</a></h3>
            <p><i>
            	This blog is about the game PUBG, how it effects life of students specially thoe who live in hostels where there is no parental guidance, no restrictions. 
               </i>
            </p>
          </div>

          <div>
          	<h3><a href="https://lifestyle-tech-experience.blogspot.com/2019/02/stop-comparing.html?m=1">STOP COMPARING...........</a></h3>
          	<p><i>
          		This blog is about how some people compare India with so called "Developed Countries". Its really bad to see that these people speak with little or no knowledge about India.
          	   </i>
          	</p>
          </div>
          <p>----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
           
          {% for post in posts %}

          <div>
                <p>published:{{ post.published__date }}</p>
                <h3><a href="">{{ post.title }}</a></h3>
                <p>{{ post.text|linebreaksbr }}</p>
          </div>

          {% endfor %}
</body>
</html>